/*Bakrundbild*/

body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*stilar för text i menyn*/

a {
    text-decoration: none;
    color: white;
    text-shadow: 0.05vw 0.05vw 0.05vw gray;
    text-align: center;
    margin-left: 10vw;
    margin-right: none;
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*stilar för rubriker i boxen*

/*stilar för boxen för varje rum*/

.white-box-kaf {
    position: absolute;
    background-color: #121212;
    margin-left: 25vw;
    height: 17vw;
    width: 22vw;
    border-radius: 1vw;
    margin-top: 8vw;
}

#tempcont {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    color: rgb(96, 96, 96);
    margin-left: 1vw;
}

#temp1 {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 4vw;
    margin-left: 6vw;
    margin-top: 6.5vw;
}

.box-humid {
    position: absolute;
    background-color: #121212;
    margin-left: 50vw;
    height: 17vw;
    width: 22vw;
    border-radius: 1vw;
    margin-top: 8vw;
}

#humcont {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1vw;
    color: rgb(96, 96, 96);
    margin-left: 1vw;
}

#humidity1 {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 5vw;
    margin-top: 6vw;
    margin-left: 7vw;
}


/*storlek och placering för alla grafer till varje rum*/

#con-container {
    background-color: white;
    width: 98, 5vw;
    height: 600px;
    position: relative;
    z-index: -20;
}

#cont {
    margin-left: auto;
    margin-right: auto;
}


/*gör att om browsern är mindre 1500px så är margin left 8vw*/

@media screen and (max-width: 1500px) {
    a {
        margin-left: 8vw;
    }
}


/*beteende på scrollknappen*/

#mbappe {
    position: absolute;
    margin-left: 40vw;
    color: white;
    font-size: 2.5vw;
}

#propell {
    position: absolute;
    background-color: #121212;
    margin-left: 50vw;
    margin-top: 2vw;
    height: 17vw;
    width: 22vw;
    border-radius: 1vw;
    font-size: large;
    color: white;
    margin-top: 27vw;
}

#propell:hover {
    background-color: rgb(1, 187, 97);
}

#water {
    position: relative;
    background-color: #121212;
    margin-left: 25vw;
    margin-top: 2vw;
    height: 17vw;
    width: 22vw;
    border-radius: 1vw;
    font-size: large;
    color: white;
    margin-top: 27vw;
}

#water:hover {
    background-color: rgb(4, 162, 214);
}